# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# public
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# env files
.env
.env.backup
.env.production

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

# vercel
.vercel

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json

#
/.fleet
/.idea
/.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*